/* *********************************************************************** */
/* Layout overrides and home boxes*/
/* *********************************************************************** */

@media only screen and (min-width: 1025px) {
  .container {
    width: 950px;
  }
}

section {
  border-bottom: 1px solid #d7dcdd;
  padding: 30px 0;
}

.grey-box {
  margin-top: 25px;
  background-color: #fbfbfb;
  border: 1px solid #ececec;
  border-top-color: #f5f5f5;
  border-bottom-color: #dfdfdf;
  border-radius: 5px;
  box-shadow: 0 1px 3px #CCCCCC;
  padding: 15px 20px;
}

.grey-box h2 {
  margin-top: 0;
}

.tour-btn {
  padding: 51px 0 35px;
}

.navbar-brand img {
  height: 50px;
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .navbar-brand img {
    height: 40px;
  }

  .navbar-nav li a {
    padding-left: 8px;
    padding-right: 8px;
  }
}

/* *********************************************************************** */
/* Typography overrides */
/* *********************************************************************** */

body {
  padding-top: 0;
  color: #151515;
  font-family: "Lato", "Open Sans", sans-serif;
  font-size: 15px;
}

@media screen and (min-width: 769px) {
  .single-column {
    font-size: 16px;
  }
}

a {
  color: #266D7F;
}

a:hover {
  color: #00A2CC;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #333;
}

blockquote p {
  font-size: 100%;
  font-style: italic;
  font-weight: inherit;
}

/* *********************************************************************** */
/* Navbar */
/* *********************************************************************** */

.top-line {
  height: 5px;
  background-color: #0083a5;
}

.navbar-nav {
  margin-top: 17px;
}

.navbar {
  margin-top: 0;
  margin-bottom: 0;
  background-color: white;
  font-size: 15px;
  font-weight: bold;
}

/* ********************************************************************** */
/* Home stuff */
/* *********************************************************************** */

.home-icon {
  display: block;
  width: 120px;
  margin: 0 auto;
  padding-top: 30px;
}

/* ********************************************************************** */
/* Jumbotron */
/* *********************************************************************** */

.jumbotron {
  background-color: #0083a5;
  margin-bottom: 0;
}

.jumbotron h1 {
  color: white;
  text-align: center;
  text-shadow: 0 2px 2px #0b4f65;
}

.jumbotron h2 {
  color: #c9dee5;
  font-size: 21px;
}

.jumbotron .btn {
  margin-top: 25px;
  padding: 10px 40px;
  font-size: 22px;
}

@media screen and (max-width: 768px) {
  .jumbotron h2 {
    font-size: 17px;
  }

  .jumbotron .btn {
    margin-top: 25px;
    padding: 7px 30px;
    font-size: 17px;
  }
}

/* ********************************************************************** */
/* News section on home
/* ********************************************************************** */

section#news h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
}

section#news .post-content {
  font-size: 13px;
}

section#news .post-date {
  padding-bottom: 0;
  font-size: 13px;
  margin: 3px 0 10px 0;
}

section#news .post-more {
  font-size: 13px;
  font-weight: bold;
}

/* ********************************************************************** */
/* References section */
/* ********************************************************************** */

section#references {
  padding: 15px 0;
  background-color: #f5f5f5;
}

section#references .logo {
  width: 20%;
}

section#references .img {
  max-width: 100px;
  width: 100%;
}

/* ********************************************************************** */
/* Footer */
/* ********************************************************************** */

#footer {
  margin: 0;
  font-size: 13px;
}

#footer a {
  color: #4CDAFF;
}

#footer h4 {
  color: #dadada;
  font-size: 20px;
  display: inline-block;
  padding-bottom: 3px;
  border-bottom: 2px solid #4CDAFF;
}

#footer .footer-middle {
  color: #dadada;
  padding: 20px 0 30px;
  background: #585f69;
}

#footer .footer-bottom {
  padding-top: 5px;
  background-color: black;
  color: lightgrey;
}

#footer .footer-logo {
  max-width: 80%;
  margin-bottom: 20px;
}

#footer .fa {
  color: #dadada;
}

/* ********************************************************************** */
/* Icons */
/* ********************************************************************** */

.fa-rss-square:hover {
  color: #fe9900;
}

.fa-facebook-square:hover {
  color: #3b5998;
}

.fa-github-square:hover {
  color: #171516;
}

.fa-twitter-square:hover {
  color: #00acee;
}

.fa-linkedin-square:hover {
  color: #1a84bc;
}

.fa-phone-square:hover {
  color: #9F0E1D;
}

/* ********************************************************************** */
/* News + sidebar */
/* ********************************************************************** */

article.post .date {
  margin-bottom: 10px;
  font-style: italic;
}

#sidebar {
  margin-top: 25px;
}

#sidebar .widget {
  position: relative;
  margin-bottom: 25px;
  padding: 25px;
  background: #f3f3f3;
}

#sidebar h2 {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 12px;
  margin-top: 0;
}

#sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
}

#sidebar ul.social-box li {
  margin: 0 5px 0 0;
  display: inline-block;
  border-bottom: 0;
}

#sidebar ul.social-box li a {
  color: #888;
  text-decoration: none;
}

#sidebar .date {
  margin-top: -8px;
  font-style: italic;
}