/* Generic typography */
body {
  font-size: 16px;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.6em;
  padding-top: 20px;
}

h3 {
  font-size: 1.3em;
  padding-top: 15px;
}

li p {
  margin: 5px 0;
  padding: 0;
}

p {
  padding: 0;
  line-height: 1.5em;
}

/* Hero block */
.hero-block3 .hero-content-3 h2 {
  padding-top: 0;
  padding-bottom: 10px;

}

.hero-block3 .hero-content-3 {
  padding: 10px 20px;
}

/* Blog on home page */
.block-posts .block-post-content {
  font-size: 13px;
}

.block-posts .block-post-date {
  padding-bottom: 0;
  font-size: 13px;
  margin: 3px 0 10px 0;
}

.block-posts .block-post-more {
  font-size: 13px;
}

/* Blog */
.sidebar-news-widget ul li p, .sidebar-news-widget .date {
  padding: 0;
}

.sidebar-news-widget ul .photo {
  margin: 10px 0;
}

.blog-posts article h2 {
  padding-top: 0;
  padding-bottom: 10px;
}

.sidebar-news-widget ul.socials {
  float: right;
  margin-top: 0;
  text-align: center;
}

ul.social-box {
  margin-left: 0;
  list-style: none;
}

ul.social-box li {
  margin: 0 0 0 6px;
  display: inline-block;
  border-bottom: 0;
}

ul.social-box li a {
  color: #888;
  text-decoration: none;
}

.navbar .nav > li a {
  font-size: 15px;
}

.home-block h1 {
  font-size: 2.5em;
}

.hero-block-2 h2 {
  padding-top: 0;
  line-height: 1.1em;
}