{% extends "_base.html" %}

{% block jumbotron %}
  <section class="jumbotron" style="background-color: #26ad61;">
    <div class="container">
      <h1>Choisissez la bonne solution pour votre compétitivité</h1>
    </div>
  </section>
{% endblock %}

{% block main %}
  <section class="single-column">
    <div class="container">
      <article id="solutions">

        <h2>Solutions métiers</h2>

        <div class="row">
          <div class="col-md-6">
            <div class="solution">
              <h3>Pour les acteurs de la compétitivité</h3>

              <p>Pôle de compétitivité, cluster, SATT, IRT, direction transfert
                d'un institut de recherche...: notre système
                d'information collaboratif et sécurisé intègre un CRM métier et
                un réseau social d'entreprise pour vous aider à être plus
                efficaces dans vos missions.</p>

              <p><a href="sics-pc/">&gt;&gt; Plus d'information</a></p>
            </div>
          </div>

          <div class="col-md-6">
            <div class="solution">
              <h3>Pour votre événement B2B</h3>

              <p>Nos solutions d'EMS (Event Management System) et de BCMS
                (Business Convention Management System) vous permettent
                d'organiser vos conférences et rencontres d'affaires en prenant
                pleinement en compte leur dimension sociale.</p>

              <p><a href="conventions-affaires/">&gt;&gt; Plus d'information</a>
              </p>
            </div>
          </div>
        </div>


        <h2>Solutions génériques</h2>

        <div class="row">
          <div class="col-md-6">
            <div class="solution">
              <h3>Mieux collaborer avec un réseau social</h3>

              <p>Une plateforme de collaboration émergente - réseau social
                d'entreprise, annuaire, espaces collaboratifs, Wiki,
                micromessagerie - est l'outil idéal pour partager des
                informations, communiquer, collaborer et dynamiser l’activité de
                votre organisation au quotidien.</p>

              <p><a href="reseau-social-entreprise/">&gt;&gt; Plus
                d'information</a></p>
            </div>
          </div>

          <div class="col-md-6">
            <div class="solution">
              <h3>Vendre plus et plus vite avec un CRM</h3>

              <p>Abilian CRM est une plateforme pour le dévelopement
                d'applications de CRM (gestion de la relation avec vos
                prospects, vos clients, vos citoyens, votre communauté...)
                dédiées à votre métier, pour accélérer votre développement et
                votre relation avec vos partenaires.</p>

              <p><a href="crm/">&gt;&gt; Plus d'information</a></p>
            </div>
          </div>
        </div>

      </article>
    </div>
  </section>
{% endblock %}
