{% extends "_base.html" %}

{% block jumbotron %}
  <section class="jumbotron">
    <div class="container">
      <h1>Solutions collaboratives pour votre compétitivité</h1>

      <div class="row">
        <div class="col-md-8">
          <h2>
            Abilian dynamise les relations entre vos collaborateurs, vos
            partenaires, votre écosystème</h2>
        </div>
        <div class="col-md-4">
          <a class="btn btn-lg btn-danger pull-right" href="/fr/solutions/"
              role="button">
            Voir nos solutions
          </a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}


{% block main %}

  <section>
    <div class="container">
      <div class="row">
        <!-- MAIN CONTENT AREA: REDESIGN CUSTOM - HERO BLOCK 1 (TEXT BLOCK)] -->
        <div class="col-md-6 home-block hero-block-1">
          <h1>Connected, we work!</h1>

          <h2>Solutions pour l'entreprise connectée</h2>

          <p>
            Abilian est un éditeur de <a href="/fr/technologies/">logiciels open
            source</a>
            qui propose des solutions innovantes pour votre entreprise ou
            votre organisation, dans les domaines de la
            <a href="/fr/pourquoi/">collaboration émergente (entreprise 2.0)</a>,
            des processus métiers et de la gestion de l'information. </p>

          <p>
            Avec les <a href="/fr/solutions/">solutions Abilian</a>, votre
            entreprise est
            plus créative, plus réactive, plus ouverte, en un mot, plus
            compétitive. </p>
        </div>

        <!-- MAIN CONTENT AREA: SPACER BETWEEN HERO BLOCK 1 AND HEREO BLOCK 2 -->
        <div class="col-md-1"></div>

        <!-- MAIN CONTENT AREA: bizstrap CUSTOM - HERO BLOCK 2 -->
        <div class="col-md-5 home-block">
          <div class="grey-box hero-block-2">
            <h2><a href="/fr/solutions/">Solutions pour un monde connecté</a>
            </h2>

            <p>{# <img alt="" src="/static/img/release_icon.png"/> #}Nous avons
              des solutions pour dynamiser votre communauté et fluidifier la
              collaboration entre vos collaborateurs. </p>
            <a href="/fr/solutions/" class="btn btn-primary"><i
                class="icon-shopping-cart"></i>Voir nos solutions</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">

      <h2>Pourquoi Abilian ?</h2>

      <div class="row">
        <div class="col-md-4">
          toto
        </div>

        <div class="col-md-4">
          toto
        </div>

        <div class="col-md-4">
          toto
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">

      <h2 style="font-size: 2.5em; margin-bottom: 40px;">Actualités</h2>

      <div class="row show-grid clear-both">
        <div class="col-md-12">
          <div class="row show-grid">
            {% for item in news %}
              <div class="col-md-3">
                {#
          <a class="block-post-img" href="{{ url_for(".news_item", slug=item.slug) }}">
            <img alt="" src="{{ url_for("image", path=item.image, h=220) }}" class="img-rounded"/>
          </a>
           #}
                <a class="block-post-title"
                    href="{{ url_for(".news_item", slug=item.slug) }}">{{ item.title }}</a>

                <p class="block-post-date">{{ item.date.strftime("%d/%m/%Y") }}</p>

                <p class="block-post-content">{{ item.abstract }}</p>
                <a class="block-post-more"
                    href="{{ url_for(".news_item", slug=item.slug) }}">En
                  savoir
                  plus&nbsp;&raquo;</a>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- MAIN CONTENT AREA -->
  <section>
    <div class="container">
      <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-12 grey-box">
          <div class="hero-block3">
            <div class="row show-grid">
              <div class="col-md-9">
                <div class="hero-content-3">
                  <h2>Un projet ? Une question ?</h2>

                  <p>
                    Nous sommes une petite équipe agile, et nous aimons partager
                    nos connaissances et en acquérir de nouvelles par le contact
                    humain. Alors, n'hésitez-pas, nous n'avons peut-être pas la
                    réponse à toutes vos questions, mais ça ne vous coûtera
                    qu'un
                    seul clic de les poser ! </p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="tour-btn">
                  <a href="/fr/a-propos/contact/" class="btn btn-warning">Contactez-nous!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="references">
    <div class="container">
      <h2>Références et labels</h2>

      <div class="row">
        <div class="col-md-2">
          <img alt="" src="/static/custom/clients/jei.png">
        </div>
        <div class="col-md-2">
          <img alt="" src="/static/custom/clients/cap-digital.png">
        </div>
        <div class="col-md-2">
          <img alt="" src="/static/custom/clients/systematic.png">
        </div>
        <div class="col-md-2">
          <img alt="" src="/static/custom/clients/eit-ict-labs.png">
        </div>
        <div class="col-md-2">
          <img alt="" src="/static/custom/clients/my-startup.png">
        </div>
        <div class="col-md-2">
          <img alt="" src="/static/custom/clients/open-source.png">
        </div>
      </div>
    </div>
  </section>

  <div id="map"></div>

{% endblock %}