{% extends "_base.html" %}

{% block main %}
<!-- MAIN CONTENT AREA: SLIDER BANNER (REVOLUTION SLIDER) -->
<div class="bannercontainer">
  <div class="banner">
    <ul>
      <!-- MAIN CONTENT AREA: SLIDER BANNER (REVOLUTION SLIDER) - SLIDE 1 [SLIDE STYLE=BOXFADE] -->
      <li class="slide1" data-transition="boxfade" data-slotamount="5"
          data-masterspeed="300">
        <img alt="" src="/static/custom/connected-world.jpg"/>

        <div class="caption sft carousel-caption" data-x="110" data-y="110"
            data-speed="1000" data-start="1000" data-easing="easeInBack"
            style="background: none;">
          <p class="middle">Beautiful, clean, ultra-responsive & highly
            flexible</p>

        </div>
        <div class="caption sfl carousel-caption" data-x="98" data-y="141"
            data-speed="1000" data-start="1000" data-easing="easeOutBack"
            style="background: none;">
          <p class="big">An Incredible New</p>
        </div>
        <div class="caption sfl carousel-caption" data-x="98" data-y="191"
            data-speed="1000" data-start="1000" data-easing="easeOutBack"
            style="background: none;">
          <p class="big">HTML5 Template!</p>
        </div>
        <div class="caption sfb carousel-caption" data-x="111" data-y="247"
            data-speed="1000" data-start="1000" data-easing="easeInBack"
            style="background: none; width: 436px;">
          <p class="small">Bring your website into the 21st century with
            bizstrap. Beautiful, clean, ultra-responsive and highly flexible
            bizstrap puts you firmly in control of your new site build or site
            bizstrap.</p>
        </div>
      </li>

      <!-- MAIN CONTENT AREA: SLIDER BANNER (REVOLUTION SLIDER) - SLIDE 2 [SLIDE STYLE=LEFT] -->
      <li class="slide2" data-transition="slideleft" data-slotamount="10"
          data-masterspeed="300">
        <img alt="" src="/static/custom/big-wave.jpg"/>

        <div class="caption sft carousel-caption" data-x="472" data-y="69"
            data-speed="1000" data-start="1000" data-easing="easeInBack"
            style="background: none;">
          <p class="middle">Is your business website mobile ready?</p>

        </div>
        <div class="caption sfr carousel-caption" data-x="462" data-y="107"
            data-speed="1000" data-start="1000" data-easing="easeOutBack"
            style="background: none;">
          <p class="big">20% of all web</p>
        </div>
        <div class="caption sfl carousel-caption" data-x="462" data-y="156"
            data-speed="1000" data-start="1000" data-easing="easeOutBack"
            style="background: none;">
          <p class="big">traffic today is from</p>
        </div>
        <div class="caption sfl carousel-caption" data-x="462" data-y="205"
            data-speed="1000" data-start="1000" data-easing="easeOutBack"
            style="background: none;">
          <p class="big">mobile devices</p>
        </div>
        <div class="caption sfb carousel-caption" data-x="474" data-y="262"
            data-speed="1000" data-start="1000" data-easing="easeInBack"
            style="background: none; width: 436px;">
          <p class="small">The mobile revolution is here. Is your business ready
            for it? Built using the latest web technology platform and
            framework; HTML5, CSS3 and Twitter Bootstrap, bizstrap allows you to
            create one site that renders beautifully on all devices, including
            computers, tablet and phones.</p>
        </div>
      </li>

      <!-- MAIN CONTENT AREA: SLIDER BANNER (REVOLUTION SLIDER) - SLIDE 3 [SLIDE STYLE=SLIDE DOWN] -->
      <li class="slide3" data-transition="slidedown" data-slotamount="1"
          data-masterspeed="300">
        <img alt="" src="/static/custom/woman-with-a-mac.jpg"/>

        <div class="caption sft carousel-caption" data-x="43" data-y="184"
            data-speed="1000" data-start="1000" data-easing="easeInBack"
            style="background: none; padding-left: 0;">
          <p class="middle">Create beautiful pages quickly and easily...</p>
        </div>
        <div class="caption sfl carousel-caption" data-x="0" data-y="228"
            data-speed="1000" data-start="1000" data-easing="easeOutBack"
            style="background: none; padding-left: 0;">
          <p class="big">Travaillons connectés !</p>
        </div>
        <div class="caption sfb carousel-caption" data-x="0" data-y="281"
            data-speed="1000" data-start="1000" data-easing="easeInBack"
            style="background: none; padding-left: 0; width: 100%;">
          <p class="small">Creating beautiful and highly functional web pages
            doesn’t have to take hours. In fact, with over 30 pre-made page
            templates, bizstrap makes<br/> creating great looking web pages
            quick and easy.</p>
        </div>
      </li>

      <!-- MAIN CONTENT AREA: SLIDER BANNER (REVOLUTION SLIDER) - SLIDE 4 [SLIDE STYLE=BOXFADE] -->
      <li class="slide4" data-transition="boxfade" data-slotamount="5"
          data-masterspeed="300">
        <img alt="" src="/static/img/slider07.png"/>

        <div class="caption sft carousel-caption" data-x="45" data-y="78"
            data-speed="1000" data-start="1000" data-easing="easeInBack"
            style="background: none;">
          <p class="middle">Slap the page with a Sticky Note!</p>

        </div>
        <div class="caption sfl carousel-caption" data-x="26" data-y="107"
            data-speed="1000" data-start="1000" data-easing="easeOutBack"
            style="background: none;">
          <p class="big">Got a special message</p>
        </div>
        <div class="caption sfl carousel-caption" data-x="26" data-y="160"
            data-speed="1000" data-start="1000" data-easing="easeOutBack"
            style="background: none;">
          <p class="big">you want to stand out on a</p>
        </div>
        <div class="caption sfl carousel-caption" data-x="26" data-y="214"
            data-speed="1000" data-start="1000" data-easing="easeOutBack"
            style="background: none;">
          <p class="big">particular web page?</p>
        </div>
        <div class="caption sfb carousel-caption" data-x="42" data-y="265"
            data-speed="1000" data-start="1000" data-easing="easeInBack"
            style="background: none; width: 436px;">
          <p class="small">When you have a special message on a particular web
            page that you want to get a across to your visitors then slap that
            page with one of bizstrap's exclusive sticky notes. You'll find that
            website visitors simply can't resist them.</p>
        </div>
        <div class="caption sfl carousel-caption stick1" data-x="450"
            data-y="52" data-speed="1400" data-start="1000"
            data-easing="easeInExpo" style="background: none;">
          <img alt="" src="/static/img/slide_stick01.png"/>
        </div>
        <div class="caption sfl carousel-caption stick2" data-x="607"
            data-y="52" data-speed="1400" data-start="1500"
            data-easing="easeInExpo" style="background: none;">
          <img alt="" src="/static/img/slide_stick02.png"/>
        </div>
        <div class="caption sfl carousel-caption stick3" data-x="764"
            data-y="52" data-speed="1400" data-start="2000"
            data-easing="easeInExpo" style="background: none;">
          <img alt="" src="/static/img/slide_stick03.png"/>
        </div>
        <div class="caption sfl carousel-caption stick4" data-x="450"
            data-y="208" data-speed="1400" data-start="2500"
            data-easing="easeInExpo" style="background: none;">
          <img alt="" src="/static/img/slide_stick04.png"/>
        </div>
        <div class="caption sfl carousel-caption stick5" data-x="607"
            data-y="208" data-speed="1400" data-start="3000"
            data-easing="easeInExpo" style="background: none;">
          <img alt="" src="/static/img/slide_stick05.png"/>
        </div>
        <div class="caption sfl carousel-caption stick6" data-x="764"
            data-y="208" data-speed="1400" data-start="3500"
            data-easing="easeInExpo" style="background: none;">
          <img alt="" src="/static/img/slide_stick06.png"/>
        </div>
      </li>

      <!-- MAIN CONTENT AREA: SLIDER BANNER (REVOLUTION SLIDER) - SLIDE 5 [SLIDE STYLE=SLOTFADE HORIZONTAL] -->
      <li class="slide5" data-transition="slotfade-horizontal"
          data-masterspeed="300" data-slotamount="20">
        <img alt="" src="/static/custom/connected-city.jpg"/>

        <div class="caption sft carousel-caption" data-x="468" data-y="71"
            data-speed="1000" data-start="1000" data-easing="easeInBack"
            style="background: none; padding-left: 0;">
          <p class="middle">Smart, very smart indeed!</p>
        </div>
        <div class="caption sfr carousel-caption" data-x="454" data-y="105"
            data-speed="1000" data-start="1000" data-easing="easeOutBack"
            style="background: none;">
          <p class="big">The Smart Choice for</p>
        </div>
        <div class="caption sfr carousel-caption" data-x="454" data-y="154"
            data-speed="1000" data-start="1000" data-easing="easeOutBack"
            style="background: none;">
          <p class="big">Building Your</p>
        </div>
        <div class="caption sfr carousel-caption" data-x="454" data-y="205"
            data-speed="1000" data-start="1000" data-easing="easeOutBack"
            style="background: none;">
          <p class="big">Business Website</p>
        </div>
        <div class="caption sfb carousel-caption" data-x="480" data-y="268"
            data-speed="1000" data-start="1000" data-easing="easeInBack"
            style="background: none; padding-left: 0;">
          <p class="small">Affordable, effective and easy-to-use bizstrap is the
            smart choice for building and managing your business website. Smart,
            very smart indeed!</p>
        </div>
      </li>

      <li class="slide5" data-transition="slotfade-horizontal"
          data-masterspeed="300" data-slotamount="20">
        <img alt="" src="/static/custom/onion.jpg"/>

        <div class="caption sft carousel-caption" data-x="468" data-y="71"
            data-speed="1000" data-start="1000" data-easing="easeInBack"
            style="background: none; padding-left: 0;">
          <p class="middle">Smart, very smart indeed!</p>
        </div>
        <div class="caption sfr carousel-caption" data-x="454" data-y="105"
            data-speed="1000" data-start="1000" data-easing="easeOutBack"
            style="background: none;">
          <p class="big">The Smart Choice for</p>
        </div>
        <div class="caption sfr carousel-caption" data-x="454" data-y="154"
            data-speed="1000" data-start="1000" data-easing="easeOutBack"
            style="background: none;">
          <p class="big">Building Your</p>
        </div>
        <div class="caption sfr carousel-caption" data-x="454" data-y="205"
            data-speed="1000" data-start="1000" data-easing="easeOutBack"
            style="background: none;">
          <p class="big">Business Website</p>
        </div>
        <div class="caption sfb carousel-caption" data-x="480" data-y="268"
            data-speed="1000" data-start="1000" data-easing="easeInBack"
            style="background: none; padding-left: 0;">
          <p class="small">Affordable, effective and easy-to-use bizstrap is the
            smart choice for building and managing your business website. Smart,
            very smart indeed!</p>
        </div>
      </li>

    </ul>
    <div class="tp-bannertimer"></div>
  </div>
</div>

<div class="row main-block">
  <div class="span12">
    <div class="row">
      <!-- MAIN CONTENT AREA: REDESIGN CUSTOM - HERO BLOCK 1 (TEXT BLOCK)] -->
      <div class="span6 home-block hero-block-1">
        <h1>Connected, we work!</h1>

        <h2>Solutions pour l'entreprise connectée</h2>

        <p>Abilian propose des solutions innovantes pour votre entreprise ou
        votre organisation.</p>
      </div>
      <!-- MAIN CONTENT AREA: SPACER BETWEEN HERO BLOCK 1 AND HEREO BLOCK 2 -->
      <div class="span1"></div>
      <!-- MAIN CONTENT AREA: bizstrap CUSTOM - HERO BLOCK 2 -->
      <div class="span5 home-block">
        <div class="grey-box hero-block-2">
          <h2><a href="/static/#">Effective Action Boxes That Get Results</a></h2>

          <p><img alt="" src="/static/img/release_icon.png"/>Great web pages utilize
            effective calls to action to grab the attention of the intended
            audience. bizstrap allows you to quickly and easily create highly
            effective action boxes.</p>
          <a href="/static/#" class="btn btn-warning"><i class="icon-shopping-cart"></i>Buy
            it now just for $18</a>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>
<div class="row main-block">
  <div class="span12">
    <!-- MAIN CONTENT AREA: bizstrap CUSTOM - HERO LIST -->
    <div class="row show-grid hero-list">
      <div class="span3">
        <div class="image-wrapper">
          <img alt="" src="/static/img/ruler.png"/>
        </div>
        <h2>Clean Design</h2>

        <p>Modern, clean design to give your business a highly professional
          appearance.
          <a href="/static/#">Learn more&nbsp;&raquo;</a>
        </p>
      </div>
      <div class="span3">
        <div class="image-wrapper">
          <img alt="" src="/static/img/equaliser.png"/>
        </div>
        <h2>Flexible Layout</h2>

        <p>Flexible page layout templates to help you quickly organize your
          website's content.
          <a href="/static/#">Learn more&nbsp;&raquo;</a>
        </p>
      </div>
      <div class="span3">
        <div class="image-wrapper">
          <img alt="" src="/static/img/direction.png"/>
        </div>
        <h2>Quick Shortcuts</h2>

        <p>Dozens of unique shortcuts to add your own cool and custom flare.
          <a href="/static/#">Learn more&nbsp;&raquo;</a>
        </p>
      </div>
      <div class="span3">
        <div class="image-wrapper">
          <img alt="" src="/static/img/both_arrows.png"/>
        </div>
        <h2>Responsive</h2>

        <p>Ultra-responsive design so your pages work beautifully on practically
          any device.
          <a href="/static/#">Learn more&nbsp;&raquo;</a>
        </p>
      </div>
    </div>
  </div>
  <div class="horizontal-divider span12"></div>
</div>

<!-- MAIN CONTENT AREA: bizstrap CUSTOM - HORIZONTAL TESTIMONIAL BLOCK -->
<div class="main-block testimonials">
  <div class="title-wrapper">
    <h2>Testimonials</h2><a href="/static/#" class="all">Show all Client Testimonials&nbsp;&raquo;</a>
  </div>
  <div class="clear-both"></div>
  <div class="row show-grid">
    <div class="span12">
      <div class="testimonials-block">
        <div class="quote"></div>
        <p class="first-row">Fusce dapibus, tellus ac cursus commodo, tortor
          mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>

        <p>Cras mattis consectetur purus sit amet fermentum.</p>

        <p></p>

        <p class="autor">Mr.Sam , Manager</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}