{% extends "_base.html" %}

{% from "_macros.html" import m_sidebar %}

{% block main %}
  <div class="row show-grid">
    <div class="span12">

      {#
      <!-- BREADCRUMBS -->
      <div id="breadcrumb">
        <ul>
          <li class="home"><a href="#">Home</a></li>
          <li><a href="#">Pages</a></li>
          <li>About Us (Right Sidebar)</li>
        </ul>
      </div>
#}

      <div class="row show-grid clear-both">
        <div class="span9 main-column two-columns-right">
          <article>
            <h2><a
                href="{{ url_for(".news_item", slug=page.slug) }}">{{ page.title }}</a>
            </h2>
            {# <img alt="" src="img/blog04.jpg"/> #}

            {{ page.html|safe }}

            <div class="post-item-panel">
              <ul>
                <li class="date">
                  <p><i
                      class="icon-calendar"></i>{{ page.date.strftime("%d/%m/%Y") }}
                  </p>
                </li>
                <li>
                  <p><i class="icon-user"></i>par Admin</p>
                </li>
                {#
                  <li>
                    <p><i class="icon-tags"></i><a href="">marketing</a>, <a
                      href="">SEO</a></p>
                  </li>
                  <li class="comments"><p><i
                      class="icon-comments-alt"></i><span>2 comments</span>
                  </p></li>
                  #}
              </ul>
            </div>
          </article>
        </div>

        {{ m_sidebar(recent_news) }}
      </div>
    </div>
  </div>
  <hr>
{% endblock %}
