{% extends "_base.html" %}

{% from "_macros.html" import m_sidebar %}

{% block main %}
  <section>
    <div class="container">
      {#
      <!-- BREADCRUMBS -->
      <div id="breadcrumb">
        <ul>
          <li class="home"><a href="#">Home</a></li>
          <li><a href="#">Pages</a></li>
          <li>About Us (Right Sidebar)</li>
        </ul>
      </div>
#}

      <div class="row clear-both">
        <div class="col-md-8 main-column two-columns-right blog-posts">
          {% for entry in news %}
            <article>
              <h2><a
                  href="{{ url_for(".news_item", slug=entry.slug) }}">{{ entry.title }}</a>
              </h2>
              {# <img alt="" src="img/blog04.jpg"/> #}

              {{ entry.html|safe }}

              <div class="post-item-panel">
                <ul>
                  <li class="date">
                    <p><i
                        class="icon-calendar"></i>{{ entry.date.strftime("%d/%m/%Y") }}
                    </p>
                  </li>
                  <li>
                    <p><i class="icon-user"></i>par Admin</p>
                  </li>
                  {#
                  <li>
                    <p><i class="icon-tags"></i><a href="">marketing</a>, <a
                      href="">SEO</a></p>
                  </li>
                  <li class="comments"><p><i
                      class="icon-comments-alt"></i><span>2 comments</span>
                  </p></li>
                  #}
                </ul>
              </div>
            </article>
            {% if not loop.last %}
              <hr>
            {% endif %}
          {% endfor %}
        </div>

        {{ m_sidebar(recent_news) }}
      </div>
    </div>
  </section>
{% endblock %}
