<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
  <meta http-equiv="Content-Security-Policy"
    content="default-src {{ request.url_root }} http://stats.abilian.com/ http://fonts.googleapis.com/ http://fonts.gstatic.com http://fast.wistia.net/ 'unsafe-inline'; child-src {{ request.url_root }} http://fast.wistia.net/ http://fast.wistia.com/; object-src {{ request.url_root }}; script-src {{ request.url_root }} http://www.google-analytics.com/analytics.js http://stats.abilian.com/piwik.js http://fast.wistia.net/ 'unsafe-inline'">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  {%- set title=page.title or g.metadata['DC.title'] -%}
  <title>{{ title }}</title>
  <meta name="keywords" content=""/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <meta name="robots" content="follow, index"/>

  <meta property="og:title" content="{{ title }}" />
{#  <meta property="og:type" content="The type" />#}
{#  <meta property="og:url" content="http://url.com/" />#}
{#  <meta property="og:image" content="http://image.jpg" />#}

  {% for name, content in g.metadata.items() -%}
    <meta name="{{ name }}" content="{{ content }}"/>
  {% endfor %}

  <!-- Bootstrap core CSS -->
  <link href="/static/bs3/css/bootstrap.min.css" rel="stylesheet">

  <!-- Add custom CSS here -->
  <link href="/static/css/modern-business.css" rel="stylesheet">
  <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/static/css/local.css" rel="stylesheet">

  <link href="//fonts.googleapis.com/css?family=Lato:400,600,700,400italic"
      rel="stylesheet" type="text/css">

  <!--[if lte IE 8]>
    <link rel="stylesheet" type="text/css" href="/static/css/IE-fix.css" />
  <![endif]-->

  <link rel="alternate" type="application/rss+xml" title="RSS"
      href="/{{ lang }}/feed/"/>

{#  <script>#}
{#    /* Google Analytics */#}
{#    (function(i, s, o, g, r, a, m) {#}
{#      i['GoogleAnalyticsObject'] = r;#}
{#      i[r] = i[r] || function() {#}
{#        (i[r].q = i[r].q || []).push(arguments)#}
{#      }, i[r].l = 1 * new Date();#}
{#      a = s.createElement(o),#}
{#          m = s.getElementsByTagName(o)[0];#}
{#      a.async = 1;#}
{#      a.src = g;#}
{#      m.parentNode.insertBefore(a, m)#}
{#    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');#}
{##}
{#    ga('create', 'UA-32718163-3', 'abilian.com');#}
{#    ga('send', 'pageview');#}
{#  </script>#}
</head>

<body>

{% include "_header.html" %}

{% block jumbotron %}{% endblock %}

{% block main %}{% endblock %}

{% if g.lang == 'en' %}
  {% include "_footer_en.html" %}
{% else %}
  {% include "_footer_fr.html" %}
{% endif %}

<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/js/jquery.js" defer></script>
<script src="/static/bs3/js/bootstrap.min.js" defer></script>
<script src="/static/js/local.js" defer></script>

<!-- Matomo -->
<script>
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//stats.abilian.com/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '3']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->

</body>
</html>
