<!-- FOOTER STARTS HERE -->
<footer id="footer">
  <div class="footer-top"></div>

  <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <img alt="" class="footer-logo" src="/static/img/grey_logo.png"/>
          <!-- FOOTER: ADDRESS -->
          <address class="address">
            <p><i class="icon-map-marker icon-large"></i>
              Abilian SAS<br>
              1, square Port-Royal<br>
              75013 Paris - France</p>

            <p><i class="glyphicon glyphicon-envelope icon-large"></i>
              <a href="mailto:contact@abilian.com">contact@abilian.com</a>
            </p>

            <p><i class="glyphicon glyphicon-phone icon-large"></i> +33 663 041
              277 </p>

          </address>
        </div>

        <div class="col-sm-4 footer-center">
          <h4 class="center-title">About Abilian</h4>

          <p>
            Abilian develops open source
            <a href="/en/technologies/">technologies</a>
            and innovative solutions in the Enterprise 2.0,
            information management and business processes sectors.</p>

          <p>Abilian provides its clients with high value <a href="/en/services/">services</a>
            to help them succeed with their projects.
            </p>
        </div>

        <div class="col-sm-4 footer-center">

          <h4>Let's stay in touch!</h4>

          <p style="margin-top: 10px; margin-bottom: 15px;">
            <a href="http://twitter.com/abilianhq" title="Twitter"
                target="_blank"><i class="fa fa-twitter-square fa-3x"></i></a>
            &nbsp;&nbsp;
            <a href="http://github.com/abilian" title="Github"
                target="_blank"><i class="fa fa-github-square fa-3x"></i></a>
            &nbsp;&nbsp;
            <a href="http://www.facebook.com/abilian.corp" title="Facebook"
                target="_blank"><i class="fa fa-facebook-square fa-3x"></i></a>
            &nbsp;&nbsp;
            <a href="http://www.linkedin.com/company/abilian/" title="LinkedIn"
                target="_blank"><i class="fa fa-linkedin-square fa-3x"></i></a>
          </p>

          <h4>Newsletter</h4>

          <p>Fill the form below with your email address and we will keep you
            updated with our news:</p>

          <form method="post"
              action="http://abilian.us6.list-manage2.com/subscribe/post?u=b379f2ac44f89a3686dbc92cd&amp;id=f2b2b6fe80"
              class="" style="text-align: center; margin: 10px 0;">

            <div class="input-group">
              <input type="text" class="form-control" placeholder="Votre email"
                  name="EMAIL">
              <span class="input-group-btn">
                <input type="submit" class="btn btn-default" value="Go!">
              </span>
            </div>
          </form>

        </div>

      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <div class="row show-grid">
        <div class="col-md-12">
          <p>Copyright 2013-2014 Abilian SAS.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
