{% macro m_sidebar(recent_news) %}
  <div id="sidebar" class="col-md-4 sidebar">

    <div class="widget">
      <h2>Points de contact</h2>

      <ul class="social-box">
        <li><a href="/fr/feed/" title="RSS" target="_blank"><i
            class="fa fa-rss-square fa-5x"></i></a></li>
        <li><a href="/fr/a-propos/contact/" title="Phone" target="_blank"><i
            class="fa fa-phone-square fa-5x"></i></a></li>
        <li><a href="http://twitter.com/abilianhq" title="Twitter"
            target="_blank"><i class="fa fa-twitter-square fa-5x"></i></a></li>
        <li><a href="http://github.com/abilian" title="Github"
            target="_blank"><i class="fa fa-github-square fa-5x"></i></a></li>
        <li><a href="http://www.facebook.com/abilian.corp" title="Facebook"
            target="_blank"><i class="fa fa-facebook-square fa-5x"></i></a></li>
        <li><a href="http://www.linkedin.com/company/abilian/" title="LinkedIn"
            target="_blank"><i class="fa fa-linkedin-square fa-5x"></i></a></li>
      </ul>
    </div>

    <div class="widget">
      <h2>Actualité récente</h2>
      <ul>
        {% for item in recent_news %}
          <li>
            <p>
              <a href="{{ url_for(".news_item", slug=item.slug) }}">{{ item.title }}</a>
            </p>

            <p class="date"><i
                class="icon-calendar"></i>{{ item.date.strftime("%d/%m/%Y") }}
            </p>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <!-- END RIGHT-SIDEBAR -->
{% endmacro %}