{% extends "_base.html" %}

{% block jumbotron %}
  <section class="jumbotron">
    <div class="container">
      <h1>Connected we work!</h1>

      <div class="row">
        <div class="col-sm-8">
          <h2>
            Open source social business software to help your workforce and
            your partners get things done, together </h2>
        </div>
        {#        <div class="col-sm-4">#}
        {#          <a class="btn btn-lg btn-danger pull-right" href="/fr/solutions/"#}
        {#              role="button">#}
        {#            Voir nos solutions#}
        {#          </a>#}
        {#        </div>#}
      </div>
    </div>
  </section>
{% endblock %}


{% block main %}
  <section style="background-color: #f8f8f8;">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h1>Connected, we work!</h1>

          <p>
            Abilian is an open-source software vendor proposing innovative
            solutions for your enterprise or organization. We operate in the
            Enterprise 2.0, information management and business processes
            sectors. </p>

          <p>
            With Abilian’s solutions, your enterprise will become more creative,
            reactive, open and, in one word, competitive. </p>
        </div>

        <div class="col-sm-1"></div>

        <div class="col-sm-5">
          <div class="grey-box">
            <h2>Our solutions</h2>

            <ul>
              <li>Intranet 2.0</li>
              <li>Social CRM</li>
              <li>Collaboration</li>
              <li>Enterprise Social Networking</li>
              <li>Smart search and content intelligence</li>
            </ul>

            {#            <a href="/fr/solutions/" class="btn btn-primary center-block"><i#}
            {#                class="icon-shopping-cart"></i>Plus d'info</a>#}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">

      <h1>Why use Abilian?</h1>

      <div class="row">
        <div class="col-sm-4">
          <img src="/static/img/icons/graph.png" class="home-icon" alt="">

          <h3>To innovate and sell faster</h3>

          <p>An Enterprise 2.0 platform permits the <b>emergence</b> and
            selection of new ideas and <b>accelerating</b> their execution in
            your business plan. Connect to our Social CRM, and you’ll also be
            more effective in your market insertion.</p>
        </div>

        <div class="col-sm-4">
          <img src="/static/img/icons/groups.png" class="home-icon" alt="">

          <h3>To place knowledge and energy in a common space</h3>

          <p>An emerging collaborative work platform functions around the notion
            of <b>business, projects and thematic groups</b>, in a way that
            allows your teams to work faster and complete their projects
            rapidly.</p>
        </div>

        <div class="col-sm-4">
          <img src="/static/img/icons/links.png" class="home-icon" alt="">

          <h3>To augment your collaborators' engagement</h3>

          <p>Exchanges between pairs, as well as other members of a hierarchy,
            reinforces the sense of belonging and the <b>engagement</b> of your
            organization's workforce.</p>
        </div>
      </div>

      {#      <div style="text-align: center; margin-top: 30px;">#}
      {#        <a class="btn btn-lg btn-danger" href="/fr/pourquoi/" role="button"#}
      {#            style="padding-left: 50px; padding-right: 50px;">#}
      {#          En savoir plus#}
      {#        </a>#}
      {#      </div>#}
    </div>
  </section>


  <section id="features-1" style="background-color: #f8f8f8;">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <img src="/static/img/screenshots/social-small.png" alt="">
        </div>
        <div class="col-sm-6">
          <h2>The right information at the right time</h2>

          <p>
            Thanks to the <b>activity streams</b>, you’ll augment your
            coworkers’ investment, and information travels faster. <b>Collaborative
            spaces</b> will facilitate document transfer and group work
            surrounding projects or actionable ideas. The <b>directory</b> and
            <b>social graph</b> allow you to identify experts and implicate all
            members of your business community. <b>Faceted search</b> tools
            allow you to find useful information at the right time and within
            context. </p>
        </div>
      </div>
    </div>
  </section>

  {#  <section id="features-2">#}
  {#    <div class="container">#}
  {#      <div class="row">#}
  {#        <div class="col-sm-7">#}
  {#          <h2>Solutions pour les acteurs de la compétitivité</h2>#}
  {##}
  {#          <p>Nous proposons des solutions métiers dédiées aux pôles, clusters,#}
  {#            SATT et autres acteurs de la compétitivité et de l'innovation.</p>#}
  {##}
  {#          <p><a class="cta" href="/fr/solutions/sics-pc/">&gt;&gt; En savoir#}
  {#            plus</a></p>#}
  {#        </div>#}
  {#        <div class="col-sm-5">#}
  {#          <img style="margin-top: 30px;"#}
  {#              src="/static/img/screenshots/logo-poles.png" alt="">#}
  {#        </div>#}
  {#      </div>#}
  {#    </div>#}
  {#  </section>#}

  {#  <section id="news" style="background-color: #f8f8f8;">#}
  {#    <div class="container">#}
  {##}
  {#      <h1>Actualité</h1>#}
  {##}
  {#      <div class="row clear-both">#}
  {#        {% for item in news[0:4] %}#}
  {#          <div class="col-md-3">#}
  {#
{#          <a class="block-post-img" href="{{ url_for(".news_item", slug=item.slug) }}">#}
  {#            <img alt="" src="{{ url_for("image", path=item.image, h=220) }}" class="img-rounded"/>#}
  {#          </a>#}
  {#           #}
  {#            <h3><a class="post-title"#}
  {#                href="{{ url_for(".news_item", slug=item.slug) }}">{{ item.title }}</a>#}
  {#            </h3>#}
  {##}
  {#            <p class="post-date">{{ item.date.strftime("%d/%m/%Y") }}</p>#}
  {##}
  {#            <p class="post-content">{{ item.abstract }}</p>#}
  {#            <a class="post-more"#}
  {#                href="{{ url_for(".news_item", slug=item.slug) }}">En#}
  {#              savoir#}
  {#              plus&nbsp;&raquo;</a>#}
  {#          </div>#}
  {#        {% endfor %}#}
  {#      </div>#}
  {#    </div>#}
  {#  </section>#}

  {#  <section>#}
  {#    <div class="container">#}
  {#      <h1 style="margin-bottom: 40px;">Le <i>social business</i>, c'est quoi ?#}
  {#      </h1>#}
  {##}
  {#      <iframe#}
  {#          src="http://fast.wistia.net/embed/iframe/u8q7h57hyw?videoFoam=true"#}
  {#          allowtransparency="true" frameborder="0" scrolling="no"#}
  {#          class="wistia_embed" name="wistia_embed" allowfullscreen#}
  {#          mozallowfullscreen webkitallowfullscreen oallowfullscreen#}
  {#          msallowfullscreen width="950" height="551"></iframe>#}
  {#      <script src="//fast.wistia.net/assets/external/iframe-api-v1.js"></script>#}
  {#      <p><a href="/fr/a-propos/mission/">Transcription de l'interview</a></p>#}
  {#    </div>#}
  {#  </section>#}

  <section>
    <div class="container">
      <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-12 grey-box">
          <div class="hero-block3">
            <div class="row show-grid">
              <div class="col-md-9">
                <div class="hero-content-3">
                  <h2>Projects? Questions?</h2>

                  <p>
                    We are a small, agile team and we love sharing our knowledge
                    and acquiring new wisdom through human contact. So don’t
                    hesitate to contact us! We might not have the answers to ALL
                    of your questions, but it only takes a click to ask!
                  </p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="tour-btn">
                  <a href="/fr/a-propos/contact/" class="btn btn-warning">Contact us!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {#  <section id="references">#}
  {#    <div class="container">#}
  {#      <h1>Références et labels</h1>#}
  {##}
  {#      <div class="row">#}
  {#        <div class="col-xs-2">#}
  {#          <img alt="" src="/static/custom/clients/jei.png">#}
  {#        </div>#}
  {#        <div class="col-xs-2">#}
  {#          <img alt="" src="/static/custom/clients/cap-digital.png">#}
  {#        </div>#}
  {#        <div class="col-xs-2">#}
  {#          <img alt="" src="/static/custom/clients/systematic.png">#}
  {#        </div>#}
  {#        <div class="col-xs-2">#}
  {#          <img alt="" src="/static/custom/clients/eit-ict-labs.png">#}
  {#        </div>#}
  {#        <div class="col-xs-2">#}
  {#          <img alt="" src="/static/custom/clients/my-startup.png">#}
  {#        </div>#}
  {#        <div class="col-xs-2">#}
  {#          <img alt="" src="/static/custom/clients/open-source.png">#}
  {#        </div>#}
  {#      </div>#}
  {#    </div>#}
  {#  </section>#}

  <div id="map"></div>

{% endblock %}