{% extends "_base.html" %}

{% block jumbotron %}
  <section class="jumbotron">
    <div class="container">
      <h1>Solutions collaboratives pour votre compétitivité</h1>

      <div class="row">
        <div class="col-sm-8">
          <h2>
            Abilian dynamise les relations entre vos collaborateurs et avec vos
            partenaires, pour accélérer votre développement et renforcer votre
            compétitivité</h2>
        </div>
        <div class="col-sm-4">
          <a class="btn btn-lg btn-danger pull-right" href="/fr/solutions/"
              role="button">
            Voir nos solutions
          </a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}


{% block main %}
  <section style="background-color: #f8f8f8;">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h1>Connected, we work!</h1>

          <p>
            Abilian est un éditeur de <a href="/fr/technologies/">logiciels open
            source</a>
            qui propose des solutions innovantes pour votre entreprise ou
            votre organisation, dans les domaines de la
            <a href="/fr/pourquoi/">collaboration émergente (entreprise 2.0)</a>,
            des processus métiers et de la gestion de l'information. </p>

          <p>
            Avec les <a href="/fr/solutions/">solutions Abilian</a>, votre
            entreprise est
            plus créative, plus réactive, plus ouverte, en un mot, plus
            compétitive. </p>
        </div>

        <div class="col-sm-1"></div>

        <div class="col-sm-5">
          <div class="grey-box">
            <h2>Nos solutions</h2>

            <ul>
              <li>Intranet 2.0</li>
              <li>CRM social</li>
              <li>Collaboration</li>
              <li>Réseau social d'entreprise (RSE)</li>
              <li>Recherche et intelligence des contenus</li>
            </ul>

            <a href="/fr/solutions/" class="btn btn-primary center-block"><i
                class="icon-shopping-cart"></i>Plus d'info</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">

      <h1>Pourquoi utiliser Abilian ?</h1>

      <div class="row">
        <div class="col-sm-4">
          <img src="/static/img/icons/graph.png" class="home-icon" alt="">

          <h3>Pour innover et vendre plus vite</h3>

          <p>Une plateforme d'entreprise 2.0 permet de faciliter
            l'<b>émergence</b> et
            la sélection d'idées nouvelles et d'<b>accélérer</b> leur mise en
            oeuvre par l'organisation. Connectés à notre CRM Social, vous êtes
            aussi plus efficaces dans leur mise sur le marché.</p>
        </div>

        <div class="col-sm-4">
          <img src="/static/img/icons/groups.png" class="home-icon" alt="">

          <h3>Pour mettre en commun les connaissances et les énergies</h3>

          <p>Les fonctions de travail collaboratif d'une plateforme de
            collaboration émergente s'articulent autour de la notion de <b>groupes
              métiers, projets ou thématiques</b>, de façon à permettre à vos
            équipes
            d'aller plus vite dans la réalisation de leurs tâches.</p>
        </div>

        <div class="col-sm-4">
          <img src="/static/img/icons/links.png" class="home-icon" alt="">

          <h3>Pour augmenter l'engagement de vos collaborateurs</h3>

          <p>Par les échanges entre pairs, mais aussi entre des niveaux très
            différents de la hiérarchie, on renforce le sentiment d'appartenance
            et l'<b>engagement des collaborateurs</b> vis-à-vis de votre
            organisation.</p>
        </div>
      </div>

      <div style="text-align: center; margin-top: 30px;">
        <a class="btn btn-lg btn-danger" href="/fr/pourquoi/" role="button"
            style="padding-left: 50px; padding-right: 50px;">
          En savoir plus
        </a>
      </div>
    </div>
  </section>


  <section id="features-1" style="background-color: #f8f8f8;">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <img src="/static/img/screenshots/social-small.png" alt="">
        </div>
        <div class="col-sm-6">
          <h2>La bonne info au bon moment</h2>

          <p>
            Grâce aux <em>flux d'activités</em>, vous augmentez l'engagement de
            vos collaborateurs, l'information circule de manière plus fluide.
            Les <em>espaces collaboratifs</em> facilitent la mise en commun de
            documents et le travail collaboratif autour de projets ou de lignes
            d'action. L'<em>annuaire</em> et le <em>graphe social</em>
            permettent d'identifier les experts et d'impliquer tous les membres
            de votre communauté business. La <em>recherche à facette</em> vous
            permet enfin de retrouver les informations utiles au bon moment et
            de manière contextualisée. </p>
        </div>
      </div>
    </div>
  </section>

  <section id="features-2">
    <div class="container">
      <div class="row">
        <div class="col-sm-7">
          <h2>Solutions pour les acteurs de la compétitivité</h2>

          <p>Nous proposons des solutions métiers dédiées aux pôles, clusters,
            SATT et autres acteurs de la compétitivité et de l'innovation.</p>

          <p><a class="cta" href="/fr/solutions/sics-pc/">&gt;&gt; En savoir
            plus</a></p>
        </div>
        <div class="col-sm-5">
          <img style="margin-top: 30px;"
              src="/static/img/screenshots/logo-poles.png" alt="">
        </div>
      </div>
    </div>
  </section>

  <section id="news" style="background-color: #f8f8f8;">
    <div class="container">

      <h1>Actualité</h1>

      <div class="row clear-both">
        {% for item in news[0:4] %}
          <div class="col-md-3">
            {#
          <a class="block-post-img" href="{{ url_for(".news_item", slug=item.slug) }}">
            <img alt="" src="{{ url_for("image", path=item.image, h=220) }}" class="img-rounded"/>
          </a>
           #}
            <h3><a class="post-title"
                href="{{ url_for(".news_item", slug=item.slug) }}">{{ item.title }}</a>
            </h3>

            <p class="post-date">{{ item.date.strftime("%d/%m/%Y") }}</p>

            <p class="post-content">{{ item.abstract }}</p>
            <a class="post-more"
                href="{{ url_for(".news_item", slug=item.slug) }}">En
              savoir
              plus&nbsp;&raquo;</a>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

{#  <section>#}
{#    <div class="container">#}
{#      <h1 style="margin-bottom: 40px;">Le <i>social business</i>, c'est quoi ?#}
{#      </h1>#}
{##}
{#      <iframe#}
{#          src="//fast.wistia.net/embed/iframe/u8q7h57hyw?videoFoam=true"#}
{#          allowtransparency="true" frameborder="0" scrolling="no"#}
{#          class="wistia_embed" name="wistia_embed" allowfullscreen#}
{#          mozallowfullscreen webkitallowfullscreen oallowfullscreen#}
{#          msallowfullscreen width="950" height="551"></iframe>#}
{#      <script src="//fast.wistia.net/assets/external/iframe-api-v1.js"></script>#}
{#      <p><a href="/fr/a-propos/mission/">Transcription de l'interview</a></p>#}
{#    </div>#}
{#  </section>#}

  <section>
    <div class="container">
      <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-12 grey-box">
          <div class="hero-block3">
            <div class="row show-grid">
              <div class="col-md-9">
                <div class="hero-content-3">
                  <h2>Un projet ? Une question ?</h2>

                  <p>
                    Nous sommes une petite équipe agile, et nous aimons partager
                    nos connaissances et en acquérir de nouvelles par le contact
                    humain. Alors, n'hésitez-pas, nous n'avons peut-être pas la
                    réponse à toutes vos questions, mais ça ne vous coûtera
                    qu'un
                    seul clic de les poser ! </p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="tour-btn">
                  <a href="/fr/a-propos/contact/" class="btn btn-warning">Contactez-nous!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="references">
    <div class="container">
      <h1>Références et labels</h1>

      <div class="row">
        <div class="col-xs-2">
          <img alt="" src="/static/custom/clients/jei.png">
        </div>
        <div class="col-xs-2">
          <img alt="" src="/static/custom/clients/cap-digital.png">
        </div>
        <div class="col-xs-2">
          <img alt="" src="/static/custom/clients/systematic.png">
        </div>
        <div class="col-xs-2">
          <img alt="" src="/static/custom/clients/eit-ict-labs.png">
        </div>
        <div class="col-xs-2">
          <img alt="" src="/static/custom/clients/my-startup.png">
        </div>
        <div class="col-xs-2">
          <img alt="" src="/static/custom/clients/open-source.png">
        </div>
      </div>
    </div>
  </section>

  <div id="map"></div>

{% endblock %}
