{% extends "_base.html" %}

{% from "_macros.html" import m_sidebar %}

{% block main %}
  <section>
    <div class="container">
      {#
      <!-- BREADCRUMBS -->
      <div id="breadcrumb">
        <ul>
          <li class="home"><a href="#">Home</a></li>
          <li><a href="#">Pages</a></li>
          <li>About Us (Right Sidebar)</li>
        </ul>
      </div>
#}

      <div class="row clear-both">
        <div class="col-md-8">
          {% for entry in news %}
            <article class="post">
              <h2><a
                  href="{{ url_for(".news_item", slug=entry.slug) }}">{{ entry.title }}</a>
              </h2>

              <div class="date"><i
                  class="fa fa-calendar"></i> {{ entry.date.strftime("%d/%m/%Y") }}
              </div>
              {{ entry.html|safe }}

            </article>
            {% if not loop.last %}
              <hr>
            {% endif %}
          {% endfor %}
        </div>

        {{ m_sidebar(recent_news) }}
      </div>
    </div>
  </section>
{% endblock %}
