{% extends "_base.html" %}

{% from "_macros.html" import m_sidebar %}

{% block main %}
  <section class="post">
    <div class="container">
      {#
      <!-- BREADCRUMBS -->
      <div id="breadcrumb">
        <ul>
          <li class="home"><a href="#">Home</a></li>
          <li><a href="#">Pages</a></li>
          <li>About Us (Right Sidebar)</li>
        </ul>
      </div>
#}
      <div class="row">
        <div class="col-md-8">
          <article class="post">
            <h2><a
                href="{{ url_for(".news_item", slug=page.slug) }}">{{ page.title }}</a>
            </h2>

            <div class="date"><i
                class="fa fa-calendar"></i> {{ page.date.strftime("%d/%m/%Y") }}
            </div>

            {{ page.html|safe }}
          </article>
        </div>

        {{ m_sidebar(recent_news) }}
      </div>
    </div>
  </section>
{% endblock %}
